.form__background {
  position: absolute;
  background-image: url('../../../images/form/vegetables.png');
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: fill;
  background-position-y: 120%;
  z-index: -1;
}
