.header__button {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  color: #F87848;
  background-color: #fff;
  border: none;
  box-shadow: 3px 3px 9px #a1a0a0;
  position: absolute;
  top: 210px;
  left: 632px;
  z-index: 300;
  transition: .4s;
}

.header__button:hover {
  transform: scale(1.3);
  cursor: grab;
}
