.form__background2 {
  position: absolute;
  background-image: url('../../../images/form/icons.png');
  background-repeat: no-repeat;
  background-size: fill;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position-y: 80%;
}
